.cabecalho {
	background-color: #87CEEB;
	padding: 40px;
}

.titulo {
	font-size: 30px;
	font-weight: bold;
}

.calculadora {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	gap: 10px;
}

.texto {
	font-size: 18px;
}

.entrada {
	padding: 12px 22px;
	font-size: 16px;
}

.botao {
	margin-top: 30px;
	padding: 15px 40px;
}